.elementor-599
  .elementor-element.elementor-element-a1a1f24:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-599
  .elementor-element.elementor-element-a1a1f24
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #090539;
}

.elementor-599 .elementor-element.elementor-element-a1a1f24 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-599
  .elementor-element.elementor-element-a1a1f24
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-599 .elementor-element.elementor-element-67b9ab0 {
  --spacer-size: 50px;
}

.elementor-599 .elementor-element.elementor-element-5d872a6 {
  text-align: center;
}

.elementor-599
  .elementor-element.elementor-element-5d872a6
  .elementor-heading-title {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}

.elementor-599 .elementor-element.elementor-element-f0f0861 .elementor-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  fill: #000000;
  color: #000000;
  background-color: #ffffff;
  border-style: solid;
}

.elementor-599 .elementor-element.elementor-element-fde76f1 .elementor-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  fill: #000000;
  color: #000000;
  background-color: #ffffff;
  border-style: solid;
}

@media (max-width: 767px) {
  .elementor-599 .elementor-element.elementor-element-e8e3f3a {
    width: 25%;
  }

  .elementor-599
    .elementor-element.elementor-element-5d872a6
    .elementor-heading-title {
    font-size: 13px;
  }

  .elementor-599
    .elementor-element.elementor-element-5d872a6
    > .elementor-widget-container {
    padding: 19px 0px 0px 0px;
  }

  .elementor-599 .elementor-element.elementor-element-77019db {
    width: 35%;
  }

  .elementor-599
    .elementor-element.elementor-element-f0f0861
    .elementor-button {
    font-size: 10px;
  }

  .elementor-599 .elementor-element.elementor-element-6f5681e {
    width: 40%;
  }

  .elementor-599
    .elementor-element.elementor-element-fde76f1
    .elementor-button {
    font-size: 10px;
  }
}
